<!--<ion-list>
	<ion-item>
	  <ion-label>Department</ion-label>
	  <ion-select [(ngModel)]="selectedDepartment" (ionChange)="getCourseNumbers(selectedDepartment)" >
	    <ion-option *ngFor = "let a of departments" >{{a}}</ion-option>
	  </ion-select>
	</ion-item>
	<ion-item>
		<ion-label>Course Number</ion-label>
		<ion-select  [(ngModel)]="selectedNumber" (ionChange)="getSections(selectedNumber)" >
			<ion-option *ngFor = "let a of courseNumbers" >{{a}}</ion-option>
		</ion-select>
	</ion-item>

</ion-list> -->
